    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Gerald</h2>
                <p>Hi, I enjoy working with data to uncover hidden relationships.</p>
                <p>I am always looking to expand my skillset and seek out opportunities to grow as a developer.  I have spent the past 6 months studying software development and am ready to take it to the next level.</p>
            </div>
        </div>
    </section>
