<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript" src="{{ site.cdn_url }}{{ site.version }}/js/modernizr.js"></script>
  <script type="text/javascript">
  Modernizr.load({
    test: Modernizr.flexbox,
    nope : '{{ site.cdn_url }}{{ site.version }}/css/ink-legacy.min.css'
  });
  </script>

  <link rel="stylesheet" type="text/css" href="{{ site.cdn_url }}{{ site.version }}/css/ink-flex.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.cdn_url }}{{ site.version }}/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.css_path }}docs.min.css">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if page.title == nil %}
  <title>{{ site.title }}</title>
  {% endif %}
  {% if page.title %}
  <title>{{ page.title }} - {{ site.title }}</title>
  {% endif %}
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Gerald Wakefield">

  <meta name="google-site-verification" content="WYO-XLjKAA_38meMONnz2WJIbTpJgxOezfapwYjTcYA"/>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@site_username">
  <meta name="twitter:creator" content="@creator_username">
  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}
  {% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}
  {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
  {% if page.image %}

  <meta property="og:title" content="Gerald Wakefield - Portfolio"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ site.url }}"/>
  <!-- <meta property="og:image" content="http://imgs.sapo.pt/ink/assets/imgs/ink_opengraph.png"/> -->
  <meta property="og:site_name" content="Gerald Wakefield"/>
  <meta property="og:description" content="I am currently an Apprentice Developer at the Nashville Software School studying with an emphasis on C#/.Net Framework server-client applications."/>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <!-- Load Documentation site CSS -->

  <!--[if lt IE 9 ]>
  <link rel="stylesheet" href="{{ site.cdn_url }}{{ site.version }}/css/ink-ie.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <![endif]-->

  <script type="text/javascript" src="{{ site.cdn_url }}{{ site.version }}/js/ink-all.min.js"></script>
</head>
<body class="ink-drawer">
