<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="google-site-verification" content="WYO-XLjKAA_38meMONnz2WJIbTpJgxOezfapwYjTcYA" />
    <meta name="description" content="{{ site.description }}">
    <meta name="keyword" content="Nashville Software School, Gerald Wakefield, C#, ASP.NET, WPF, Entity Framework, LINQ, Ajax.Net, Jquery">

    <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@site_username">
  <meta name="twitter:creator" content="@creator_username">
  {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}
  {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}
  {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/_sass/_resume.scss" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    {% include google_analytics.html %}
</head>
